.eiei {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #0f0c29;
  background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
  height: 100vh;
}
label{
  color: #ffffff;
}


.controls {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-right: 10px;
  font-size: 16px;
}


// Logout button styles
.logout-button {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #cc0000;
}
