/* styles.css or your preferred file name */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Dark theme */
.dark-theme {
  --bg-color: rgb(29, 27, 27);
  --text-color: white;
  --primary-color: #3498db; /* You can customize your color palette */
  /* Add more theme-specific variables as needed */
}

/* Light theme */
.light-theme {
  --bg-color: white;
  --text-color: black;
  --primary-color: #3498db; /* You can customize your color palette */
  /* Add more theme-specific variables as needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body ,#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Define your color palette for each theme */
.dark-theme .primary-button {
  background-color: var(--primary-color);
  color: white;
}

.light-theme .primary-button {
  background-color: var(--primary-color);
  color: black;
}
