/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}


img {
  display: block; 
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content {
  padding-bottom:4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width:100vw;
  display: block;
}

.header {
  margin-top:10px;
  margin-left: 10px;
  margin-right:2.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  border: 3px solid rgb(185, 179, 179);
  border-radius: 15px;
  backdrop-filter: blur(8px);
  border-style: solid;
  border-color: rgba(194, 224, 255, 0.08);
  border-width: 0px 0px thin;
  background-color: rgba(16, 20, 24, 0.8);
  color: rgb(157, 168, 183);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  position: relative;
  min-height: 4rem;
  .item-header {
    position: absolute;
  }
}

.logo-header {
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50%;
}


.icon {
  margin-top: 20px;
  margin-left: var(--icon-left);
  margin-bottom: 100px;
  color: white;
  cursor: pointer;
  user-select: none;
}
.icon p {
  margin: 0;
  font-size: 40px;
}


:root {
  --landscape-width: 18;
  --portrait-width: 250px;
  --header-height: 4.5rem;
  --secs: 0.4s;
  --bg-left: #212B36;
  --bg-right: rgba(128, 42, 150, 0.8);
  --bg-main: #161C24;
  --left-width: 0;
  --left-transform: 0;
  --icon-left:1rem;
  --icon-left-closed: 50px;
  --icon-left-open: 20px;
}
#left.closed {
  .icon {
    margin-left: var(--icon-left-closed);
  }
}
body {
  line-height:inherit;
}

#layout {
  --tw-bg-opacity:1;
  width: 100%;
  position: relative;
  display: grid;
  grid-auto-columns: max-content auto;
  .header-left {
    position: relative;
    height: var(--header-height);
    text-align: center;
    .title {
      position: absolute;
      left: 0;
      right: 0;
    }
  }

  .content {
    padding: 1rem;
    overflow: auto;
    box-sizing: border-box;
    height: calc(100vh - var(--header-height));
  }
}

#main {
  grid-column-start: 2;
  grid-row-start: 1;
  min-width: 0;
  overflow: hidden; 
  transition: margin-left var(--secs);
  margin-left: var(--left-width);
  .header {
    @media (orientation: landscape) {
      .title {
        transition: left var(--secs), right var(--secs);
        &.left-closed {
          left: var(--header-height);
        }
      }
    }
  }
}

#left,
#right {
  height: 100dvh;
  overscroll-behavior: contain;
  inset-inline-start: 0;
  top: 0;
  grid-column-start: 1;
  // scroll-behavior: smooth;
  // scroll-padding-top: 5rem;
  grid-row-start: 1;
  transition: width var(--secs);
  width: 0;
  margin-right: 10px;
  @media (orientation: landscape) {
    &.open {
      width: calc(1% * var(--landscape-width));
    }
  } // <-- Landscape ONLY sidebars
  .icon {
    position: fixed;
    z-index: 10;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-height);
    user-select: none;
    cursor: pointer;
    left: var(--icon-left-open);
    transition: left var(--secs);
    margin-top:27px;
  }
  .sidebar {
    
    width: 300px;
    transition: transform var(--secs); // <-- Portrait AND landscape!
    @media (orientation: portrait) {
      // width: var(--portrait-width);
    }
    // @media (orientation: landscape) {
    //   width: calc(20px * var(--landscape-width));
    // }
    .header-left {
      width: calc(50% - var(--header-height));
    }
  }
}

#left {
  padding: 10px;
  z-index: 5;
  width: var(--left-width);
  .icon {
    position: fixed;
    z-index: 10;
    width: var(--header-height);
    height: var(--header-height);
    line-height: var(--header-height);
    font-size: var(--header-height);
    user-select: none;
    cursor: pointer;
    top: -20px;
    left: var(--icon-left);
    transition: 0.4s;

  }
  .sidebar {
    border-radius: 20px;
    &.closed {
      transform: translateX(-95%);
      .icon {
        left: 20px;
      }
    }
    .header-left {
      left: var(--header-height);
    }
  }
}
.profile-right{
  margin-right: 10px;
  margin-left: 100px;
}
