.navbar-container {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adjust the padding as needed */
  }
  
  .logo-container {
    margin-left: 10px; /* Adjust the margin as needed */
  }
  