// LoginForm.scss
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .login-form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #4f46e5, #43dde6);
  }
  
  .login-form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h1{
        font-size: 30px;
        align-items: center;
    }
    label{
        color: #000;
    }
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .input-field:focus {
    border-color: #4f46e5;
  }
  
  .login-button {
    width: 100%;
    background-color: #4f46e5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #3c3489;
  }
  
  .error-message {
    color: rgb(239, 54, 54);
    margin-top: 10px;
  }
  

input{
  color: #000;
}