// Dropdown.scss
.dropdown {
  position: relative;
  width: 150px;
  filter: url(#goo);

  &__face,
  &__items {
    background-color: #ffffff; // Main color
    padding: 15px;
    border-radius: 10px; // Slightly rounded corners
    color: #110f0f; // Text color
  }

  &__face {
    display: block;
    position: relative;
    cursor: pointer; // Add cursor pointer for better UX
  }

  &__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column; // Display items in a column
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.0s cubic-bezier(0.93, 0.88, 0.1, 0.8);

    &::before {
      content: "";
      background-color: #ffffff;
      position: absolute;
      top: 0;
      right: 20%;
      height: 10px;
      width: 20px;
    }

    li {
      padding: 10px;
      cursor: pointer;

      &:hover {
        border-radius: 50px;
        background-color: rgba(121, 88, 88, 0.681);
        color: #f6f6f6;
      }
    }
  }

  &__arrow {
    border-bottom: 2px solid #090909;
    border-right: 2px solid #0b0b0b;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  input {
    display: none;

    &:checked ~ .dropdown__items {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
}

// Rest of the styles unchanged
* {
  box-sizing: border-box;
}

svg {
  display: none;
}
