
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.card-user {
    width: 250px;
    height: 100px;
    cursor: pointer;
    position: relative;

	&::before,
	&::after {
		width: 100%;
		height: 50%;
		position: absolute;
		content: '';
		z-index: -20;
		transition: all .4s;
	}

	&::before {
		top: 0;
		right: 0;
	}

	&::after {
		bottom: 0;
		left: 0;
	}
	
	.content-card-user {
		width: 100%;
		height: 100px;
		background-color: rgba(24, 43, 60, .089);
		backdrop-filter: blur(50px);
		border: 0.5px solid #fff;
		border-radius: 6px;
		box-shadow: 0 0 30px rgb(4 19 33 / 31%);
		transition: all .4s;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	&:hover {
		&::before {
			width: 60px;
			height: 60px;
			border-radius: 50%;
            transform: translate(10px, -5px);
			background-color: #AA96DA;
		}
		
		&::after {
			width: 60px;
			height: 60px;
			border-radius: 50%;
            transform: translate(0px, -50px);
			background-color: #AA96DA;
		}
		
		.content-card-user {
			color: #a6bfd3;
		}
	}
}
