
.delete{
    background-color: rgb(225, 78, 78);
    border-radius: 10px;
    padding: 5px;
    color: rgb(246, 231, 203);
}
.edit{
    background-color: rgb(225, 218, 78);
    border-radius: 10px;
    padding: 5px;
    color: rgb(246, 231, 203);
}