.roomLayout {
  .bedroomContainer {
    border-radius: 8px;
    padding: 20px;
    // background-image: url('https://image.freepik.com/free-photo/natural-green-grass-background_141793-617.jpg');
    background-size: cover; 
    background-position: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1)rgba(255, 255, 255, 0));
    // backdrop-filter: blur(2px);
    // -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
  
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    @media screen and (max-width: 300px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  
    @media screen and (max-width: 200px) {
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }
  }
} 

#blank1_floor6 {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    grid-column: 1/2;
  }
  
  #elevator_floor6 {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    grid-column: 3/15;
  }
  
  #blank2_floor6 {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    grid-row: 2/4;
  }
  
  #room602_floor6,
  #room601_floor6 {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    grid-column: 2/15;
  }
  